body {
  background-color: rgb(235, 235, 235);
}

.App {
  font-family: "Space Grotesk", sans-serif;
  background: rgb(235, 235, 235);
}

.App .roundedlogo {
  height: 250px;
  display: block;
  margin: 20px auto;
  background: rgb(235, 235, 235);
}

.App .App-header  {
  margin: 30px auto;
}

.App .App-footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: grey;
}
